:root {
  --fg: #333;
  --bg: #fff;
  --link: #39d;

  @media (prefers-color-scheme: dark) {
    --fg: #ddd;
    --bg: #222;
    --link: #5bf;
  }

  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--fg);
  font-size: calc(14px + 0.3vw);
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  &,
  &:active,
  &:visited {
    color: var(--link);
  }

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
.title {
  margin-bottom: 0;
  border-bottom: 1px solid var(--fg);
}
.subtitle {
  margin-top: 0;
  font-size: 85%;
}
