pre {
  line-height: 1.2;
  font-size: 0.9rem;
  overflow-x: auto;
}

@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);
