figure {
  width: 100%;
  margin: 0;
  padding: 1rem 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  figcaption {
    padding: 0.5rem 1rem;
    text-align: center;
    font-style: italic;
    font-size: 110%;
    line-height: 1.3;
  }
}
