.spoiler {
  color: transparent;
  border-bottom: 1px dashed var(--fg);

  &:hover {
    color: inherit;
  }
}

.hints li[hide] {
  visibility: hidden;
}
.hints h3 {
  flex: 1;
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 0;
  font-size: 1.2rem;
}
.hints .show-hint {
  font-size: 1rem;
}
@media (min-width: 640px) {
  .hints .hint-heading {
    display: flex;
  }
}
