{% set meta = get_image_metadata(path=path) %}
{% set width = 800 %}
{% set sm_width = 440 %}
{% set lg = resize_image(path=path, width=2*width, op="fit_width", quality=60) %}
{% set md = resize_image(path=path, width=width, op="fit_width") %}
{% set sm = resize_image(path=path, width=sm_width, op="fit_width") %}

<figure>
  <a href="{{ lg.url }}">
    <img src="{{ md.url }}"
        width="{{ width }}"
        height="{{ width * meta.height / meta.width | round }}"
        srcset="{{ lg.url }} {{ 2*width }}w,
                {{ md.url }} {{ width }}w,
                {{ sm.url }} {{ sm_width }}w"
        sizes="(min-width: {{ width }}px) {{ width }}px,
                calc(100vw - 20px)"
        alt="{{ title }}"
        title="{{ title }}"/>
  </a>
  <figcaption>
    {% if caption %}
      {{- caption -}}
    {% else %}
      {{- title -}}
    {% endif %}
  </figcaption>
</figure>
