<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Hannu Hartikainen{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ get_url(path="style.css", cachebust=true) | safe }}"/>
  <link rel="icon" href="{{ get_url(path="favicon.ico") | safe }}">
  <link href="{{ get_url(path="/rss.xml") | safe }}"
        rel="alternate" type="application/rss+xml"
        title="Hannu Hartikainen's blog posts">
</head>

<body>
  <header id="header">
    <nav>
      <a href="{{ config.base_url | safe }}">Home</a>
      <a href="{{ get_url(path="@/floss.md") | safe }}">FLOSS</a>
      <a href="{{ get_url(path="@/piilosanat/_index.md") | safe }}">Piilosanat</a>
      <a href="https://github.com/dancek/hannuhartikainen.fi">Repo</a>
    </nav>
  </header>
  <section class="content">
    {% block content %}{% endblock %}
  </section>
  <footer id="footer">
    &copy; Hannu Hartikainen 2018–{{ now() | date(format="%Y") }}
  </footer>
</body>
</html>
