{% extends "base.html" %}

{% block lang %}
{% if page.extra.lang %}
{{ page.extra.lang }}
{% endif %}
{% endblock lang %}

{% block title -%}
{{ page.title }} – Hannu Hartikainen
{%- endblock title %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
{% if page.date %}
<p class="subtitle">{{ page.date | date }} / {{ page.reading_time }} mins read</p>
{% endif %}

{{ page.content | safe }}

<footer>
  <code>[opt-in]</code><br>
  <opt-in-script src="https://utteranc.es/client.js"
                 crossorigin="anonymous"
                 repo="dancek/hannuhartikainen.fi"
                 theme="preferred-color-scheme"
                 issue-term="pathname">
    <button>Show comments</button>
    (Note: this will load an external script from
    <a href="https://utteranc.es">utteranc.es</a>
    and make requests to the Github API.)
  </opt-in-script>
</footer>
<script src="{{ get_url(path="/js/opt-in-script.js") }}"></script>
{% endblock content %}
