<div class="hints">
  {{.Inner | markdownify}}

  <button onclick="showAllHints()">Näytä kaikki ratkaisut</button>
</div>

<script>
Array.from(document.querySelectorAll(".hints li")).map(e => e.setAttribute("hide", ""))

for (const h3 of document.querySelectorAll(".hints > h3")) {
  const hints = h3.parentNode
  const ul = h3.nextElementSibling

  const wrapper = document.createElement("div")
  wrapper.setAttribute("class", "hint-heading")

  const btn = document.createElement("button")
  btn.setAttribute("class", "show-hint")
  btn.appendChild(document.createTextNode("Näytä vinkki"))
  btn.addEventListener("click", () => showNextHint(ul))

  hints.insertBefore(wrapper, h3)

  wrapper.appendChild(h3)
  wrapper.appendChild(btn)
}

function showNextHint(el) {
  let li;
  if (el) {
    li = el.querySelector("li[hide]")
  } else {
    li = document.querySelector(".hints li[hide]")
  }

  if (li) {
    li.removeAttribute("hide")
  }
}

function showAllHints() {
  Array.from(document.querySelectorAll(".hints li")).map(e => e.removeAttribute("hide"))
}

document.addEventListener('keydown', function(e) {
  if (e.keyCode === 13) showNextHint();
})
</script>
